<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               <!-- <a href="#"><img src="/public/media/linkedin-icon.png" alt="image not found"></a> -->
               <h4>Company logo</h4>
            </div>
            <div class="col-md-8">
                <ul>
                    <li><a href="/userprofile">Home</a></li>
                    <li><a href="/profile">Profile</a></li> 
                    <li><a href="/passreset">PasswordReset</a></li>   
                    <li><a href="">Welcome <%=loginname%></a></li>
                    <li><a href="/logout"><button class="btn btn-danger">Logout</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>